body {
  color: $main-text-color;
  // background-color: $main-red;
  background-color: $color-white;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: $color-white;
  cursor: pointer;
}

 hr {
  max-width: 1170px;
  border-style: solid;
  margin: auto;
  color: $color-white;
  opacity: .4;
 }
