.template {
  display: none;
  @include at-large {
    display: block;
    width: 1920px;
    img {
        width: 1920px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .3;
    }
  }
}
