$main-blue: #2f5572;
$main-orange: #ffae00;
$main-text-color: #333;
$color-white: #fff;
$main-red: #c00a27;
$main-green: #8ca93e;

$color-red--lite: #f0002f;

$font-header: 'Yanone Kaffeesatz', sans-serif; 
$font-secondary: 'Roboto Condensed', sans-serif;
$font-third: 'Oswald', sans-serif;
