.btn {
  background-color: $color-red--lite;
  // opacity: 0.5;
  color: $color-white;
  display: inline-block;
  text-decoration: none;
  border: 0;
  font-family: $font-fourth;

  &__day-deal {
    padding: 20px 67px 17px 64px;
    text-transform: capitalize;
    font-size: .93rem;
    letter-spacing: .04rem;
    margin-right: 1px;
  }

  &__product {
    letter-spacing: 0px;
    margin: 0px;
    text-transform: none;
    font-size: 1rem;
    padding: 21px 65px 18px 100px;
  }

  &__drink {
    letter-spacing: 0px;
    margin: 0px;
    text-transform: none;
    font-size: .8rem;
    padding: 20px 50px 15px 50px;
  }

  &__order {
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: .18px;
    padding: 23px 25px 0px 60px;
    background-color: $main-green;
    position: relative;
    
    &--icon {
      position: absolute;
      display: inline-block;
      height: 23px;
      top: 16px;
      left: 22px;
    }

    &--underline {
      border-top: solid 2px#226f0b;
      margin: auto;
      margin-top: 10px;
      margin-left: -16px;
      width: 8.5rem;
      overflow: hidden;
      white-space: nowrap;
      position: relative;

      img {
        position: relative;
        top: -9px;
        height: 5px;
        display: inline;
        margin: 0px;
        padding: 0px;
      }
    }

  }

  &--rounded {
    border-radius: 50px;
  }

  &--rounded--small {
    border-radius: 10px;
  }

  &--rounded--xsmall {
    border-radius: 5px;
  }

  &--header {
    font-family: $font-header;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 200;

    padding: 8px 25px;
    letter-spacing: -.03rem;
  }

  &--large {
    @include at-small {
      font-size: 1.25rem;
    }

    padding: 1.1rem 1.9rem;
  }
}
