.headline {
  @include at-small {
    font-size: 2.875rem;
  }

  font-size: 1.9rem;
  font-weight: 300;
  color: $main-blue;

  &--centered {
    text-align: center;
  }

  &--orange {
    color: $main-orange;
  }

  &--small {
    @include at-small {
      font-size: 1.875rem;
    }
    font-size: 1.2rem;
  }

  &--narrow {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  &--light {
    font-weight: 100;
  }

  strong {
    font-weight: 400;
  }

  &--b-margin-small {
    margin-bottom: .5em;
  }

  &--b-margin-large {
    margin-bottom: 1.6em;
  }

  &--no-t-margin {
    margin-top: 0;
  }
}
