.products-nav {
  display: block;
  padding: 20px 0 18px;
  padding-left: 20px;
  border-bottom: solid 1px #ccc;
  
  ul {
    display: table;
    padding: 0;
    margin: auto;
    @include clearfix;

    li {
      float: left;
      list-style-type: none;
      margin-right: 30px;

      @include at-medium {
        margin-right: 60px;
      }

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  .products-nav__item {
    a {
      position: relative;
      color: #9b959b;
      text-decoration: none;
      text-transform: capitalize;
      font-family: $font-fourth;
      font-weight: 300;
      font-size: 1rem;

      @include at-medium {
        font-size: 1.65rem;
      }
    }

    &--active {

      a {
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: .04rem;

        @include at-medium {
          line-height: 1.9rem;
          font-size: 1.55rem;
        }
      }

      .products-nav__item--underline {
        height: 3px;
        bottom: -17px;
        background-color: $color-red--lite;
        width: 60px;
        left: 50%;
        transform: translateX(-50%);
        margin: auto;
        position: absolute;

        @include at-medium {
          bottom: -16px;
        }
      }
    }
  }


}