.slider {
  color:  $color-white;
  height: 634px;
  position: relative;
  &__content {
    
    top: 50%;
    width: 100%;
    position: absolute;
    transform: translateY(-50%);
    margin-top: -47px;
    * {
      transform: skewY(-9deg);
      text-align: center;
    }

    .line--left {
      border-top: 1px solid $color-white;
      width: 40px;
      height: 10px;
      transform: skewY(0deg);
      display: inline-block;
      margin-right: 10px;
      
      margin-left: 80px;

      @include at-medium {
        font-size: 66px;
      }
    }

    .line--right {
      border-top: 1px solid $color-white;
      width: 80px;
      height: 10px;
      transform: skewY(0deg);
      display: inline-block;
      margin-left: 25px;

      @include at-medium {
        font-size: 125px;
      }
    }

    h1 {
      margin: 0;
      margin-top: -30px;
      font-family: $font-header;
      font-size: 70px;
      line-height: .8;
      letter-spacing: -0.05rem;
      text-shadow: 3px 3px 21px rgba(150, 150, 150, 0.76);

      @include at-medium {
        font-size: 140px;
      }
    }

    h2 {
      margin: 0;
      font-family: $font-header;
      font-size: 60px;
      font-weight: 100;
      text-transform: uppercase;
      text-shadow: 3px 3px 21px rgba(150, 150, 150, 0.76);


      @include at-medium {
        font-size: 82.06px;
      }
    }

    h3 {
      font-family: $font-header;
      font-size: 25px;
      text-transform: uppercase;
      font-weight: 300;
      // margin-top: 3px;
      margin-left: -76px;

      @include at-medium {
        font-size: 30.02px;
      }

      span {
        padding-right: 25px;
        font-weight: 400;
        font-size: 25px;
        letter-spacing: .1rem;
      }

      
    }

    p {
      font-weight: 300;
      font-family: $font-header;
      font-size: 22px;
      letter-spacing: .03rem;
      margin: 0;
      text-transform: capitalize;
    }

    .circle {
      transform: skewY(0deg);
      border-radius: 50%;
      top: 9%;
      left: 35.8%;
      width: 64px;
      height: 64px;
      background-color: $main-orange;
      position: absolute;
    }
  }

  .separator--dashed {
    padding-left: 0px;
    letter-spacing: .35rem;
    padding-bottom: 11px;
  }

  .slider__nav {
    position: absolute;
    display: inline-block;
    left: 50%;
    bottom: 32px;
    transform: translateX(-50%);    
    margin: auto;
  }

  .slider__nav__dot {
    margin-right: 16px;
    &:last-child {
      margin-right: 0px;
    }
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: $color-white;
    float: left;
  }

  .slider__nav__dot--current {
    position: absolute;
    background-color: $color-red--lite;
    width: 36px;
    border-radius: 50px;
    height: 10px;
  }

}